<h2 class="auth-heading">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'auth-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-ctrl-container field">
    <%= f.label :email, class: 'form-ctrl-lbl' %><br />
    <%= f.email_field :email, class: 'form-ctrl', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'button submit-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
