<%= turbo_frame_tag('tab_content') do %>
  <h3 class="tab-form-heading">Information</h3>

  <%= form_with model: @recipe, class: 'resource-form', url: action, data: {turbo: false} do |recipe_form| %>
    <section class="tab-form-section information">

      <div class="form-ctrl-container">
        <%= recipe_form.label :name, class: "form-ctrl-lbl" %>
        <%= recipe_form.text_field :name, class: "form-ctrl" %>
      </div>

      <div class="form-ctrl-container publicly-accessible-container">
        <%= recipe_form.label :publicly_accessible, class: "form-ctrl-lbl" %>
        <%= recipe_form.check_box :publicly_accessible, class: "form-ctrl-check" %>
      </div>

      <div class="form-ctrl-container">
        <%= recipe_form.label :description, class: "form-ctrl-lbl" %>
        <%= recipe_form.text_area :description, class: "form-ctrl-text" %>
      </div>
    </section>

    <section class="tab-form-section images">
      <%= render partial: 'application/manage/recipes/images/tab', locals: {form: recipe_form} %>
    </section>

    <%= recipe_form.submit %>
  <% end %>
<% end %>