<h1 class='recipe-heading'><%= @recipe.name %></h1>

<section class="recipe-content">
  <% if user_signed_in? && allowed_to?(:edit?, @recipe) %>
    <div class="edit-link-container">
      <%= link_to 'Edit', edit_manage_recipe_path(@recipe), class: 'profile-edit-link' %>
    </div>
  <% end %>

  <div class="recipe-profile-img-container">
    <%= primary_picture(@recipe) %>
  </div>

  <p aria-label="Recipe description"><%= @recipe.description %></p>
</section>

<section id="recipe_content">
  <section id="recipe_ingredients" class="recipe-col">
    <h3><label for="ingredients">Ingredients</label></h3>
    <ul id="ingredients">
      <% @recipe.steps.each do |step| %>
        <%= render partial: 'application/recipes/step_ingredient', collection: step.step_ingredients %>
    <% end %>
    </ul>
  </section>

  <section id="recipe_steps" class="recipe-col">
    <h3><label for="steps">Steps</label></h3>
    <ol id="steps">
      <%= render partial: 'application/recipes/step', collection: @recipe.steps %>
    </ol>
  </section>
</section>

<div class="return-link"><%= link_to "All Recipes", recipes_path %></div>