<h1 class="recipes-heading">Listing Recipes</h1>

<div class="paginated-resources-container">
  <p class="page-entries-info">
    <%= page_entries_info @recipes %>
  </p>

  <ul id="directory_recipes" class="directory-items">
    <% @recipes.each do |recipe| %>
      <li class="directory-item">
        <span><%= link_to recipe.name, manage_recipe_path(recipe) %></span>
        <div class="recipe-links">
          <span><%= link_to "Edit", edit_manage_recipe_path(recipe) %></span>
          <span><%= link_to "Delete", manage_recipe_path(recipe), {action: :destroy, method: :delete, id: recipe.slug, data: {confirm: "Are you sure?"}} %></span>
        </div>
      </li>
    <% end %>
  </ul>

  <%= paginate @recipes %>
</div>

<div class="new-recipe-link"><%= link_to "New Recipe", new_manage_recipe_path %></div>