<h1 class="resource-heading"><%= @post.title %></h1>

<section class="content">
  <div id="post_content">
    <%= @post.content %>
  </div>
</section>

<section class="publish-info">
  <div class="row">
    <div class="publish-cell">
      <label class="item-lbl" for="published">Published: </label>
      <p id="published"><%= @post.published %></p>
    </div>
  </div>
  <div class="row">
    <div class="publish-cell">
      <label class="item-lbl" for="published_at">Published at: </label>
      <p id="published_at"><%= @post.published_at %></p>
    </div>
    <div class="publish-cell">
      <label class="item-lbl" for="modified_at">Last Updated at: </label>
      <p id="modified_at"><%= @post.modified_at %></p>
    </div>
  </div>
</section>

<nav class="action-nav">
  <ul class="action-nav-links">
    <li class="action-nav-link"><%= link_to "Edit", edit_manage_post_path(@post) %></li>
    <li class="action-nav-link"><%= link_to "Delete", manage_post_path(@post), {action: :destroy, method: :delete, id: @post.slug, data: {confirm: "Are you sure?"}} %></li>
    <li class="action-nav-link"><%= link_to "Back", manage_posts_path %></li>
  </ul>
</nav>