<header class="header">
  <section class="container">
    <nav role="navigation" class="site-navigation">
      <div class="site-nav-link home-nav-link">
        <%= link_to 'Home', root_path, class: 'nav-anchor' %>
      </div>

      <ul class="site-nav-links">
        <li class="site-nav-link">
          <%= link_to 'Posts', posts_path, class: 'nav-anchor' %>
        </li>

        <% if user_signed_in? %>
          <li class="site-nav-link">
            <%= link_to 'Manage', manage_path, class: 'nav-anchor' %>
          </li>
          <li class="site-nav-link">
            <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-anchor' %>
          </li>
        <% else %>
          <li class="site-nav-link">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-anchor' %>
          </li>
          <li class="site-nav-link">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-anchor' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </section>
</header>